input[type="checkbox"] {
  margin-right: 20px;
  border: 1px solid #6c63ff;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #6c63ff;
}

h2 {
  display: inline-block;
  margin: 0.5rem 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 4px 10px;
}

.task-item:hover {
  background-color: #444343;
}

.task-item-header {
  display: flex;
  align-items: center;
  flex: 1;
}
